body {
	text-align: center;
}

.container {
	display: flex;
}

.opciones {
	height: 5rem;
	display: flex;
	justify-content: center;
}

.opciones > a > img {
	height: 5rem;
}


#win {
	color: green;
	font-weight: bold;
}

#loose {
		color: red;
	font-weight: bold;
}

