:root {
	--winLoose-width: 3rem;  
}

html {
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
}

body {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4rem;
  margin: .5rem 0 1.5rem 0;
}

.ganaste {
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
  font-weight: 700;
  margin: -1rem 0 1rem 0;
  display: none;
  color: rgb(61, 230, 61);
}

.perdiste {
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
  font-weight: 700;
  margin: -1rem 0 1rem 0;
  display: none;
  color: red;
}

.opciones {
	height: 5rem;
	display: flex;
	justify-content: center;
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
}

.round {
  font-size: 1.5rem;
  display: none;
}

.ppot {
	margin: 0 auto;
}

.btn {
	height: 4rem;
	width: 4rem;
	box-shadow: none;
  border: none;
  cursor: pointer;
  transition: all .1s;
}

.btn:hover {
  transform: translateY(-.3rem);
}

.btn:active {
  transform: translateY(-.1rem);
}

.piedra {
	background-image: url('images/piedra.png');
	background-size: cover;
}

.papel {
	background-image: url('images/papel.png');
	background-size: cover;
}

.tijera {
	background-image: url('images/tijera.png');
	background-size: cover;
}

.jugador {
  display: none;
}

.selecciones {
	display: flex;
	justify-content: space-around;
	padding: 0 3rem;
	margin: 0 15rem;
}

.seleccion {
	display: flex;
  flex-direction: column;
}

.empate {
	align-self: flex-end;
}

.player > img {
	height: 14rem;
  width: 14rem;
}

.player-seleccion {
  position: relative;
  z-index: 10;
}

.pc > img {
  transform: scaleX(-1);
	height: 14rem;
	width: 14rem;
}

.pc-animado {
  background-size: cover;
  height: 15rem;
	width: 15rem;
  animation: suspenso 1.5s;
}

.acumuladoPlayer > img {
  width: var(--winLoose-width);
}

.acumuladoPc > img {
  width: var(--winLoose-width);
}

.check {
  position: relative;
  z-index: 10;
}

.empate > img {
	width: var(--winLoose-width);
}

#win {
	color: green;
	font-weight: bold;
}

#loose {
		color: red;
	font-weight: bold;
}

.replayBtn {
  border: 0px;
	color: red;
	height: 2rem;
	width: 5rem;
	background-color: white;
  font-size: 1rem;
  transition: all .2s;
}

.replayBtn:hover {
  box-shadow: 0 .1rem .3rem rgba(0,0,0,.5);
  border-radius: 5%;
  transform: translateY(-.2rem);
}

.replayBtn:active {
  box-shadow: 0 .05rem .15rem rgba(0,0,0,.5);
  border-radius: 5%;
  transform: translateY(-.1rem);
}

#ganador {
  font-family: 'Amatic SC', cursive;
  color: rgb(61, 230, 61);
  font-weight: 700;
  font-size: 3rem;

}

@keyframes suspenso {
  0% {
    background-image: url('./images/piedra.png');
    transform: translateY(-1rem) scaleX(-1);
  }

  10% {
    background-image: url('./images/piedra.png');
    transform: translateY(1rem) scaleX(-1);
  }

  20% {
    background-image: url('./images/piedra.png');
    transform: translateY(-1rem) scaleX(-1);
  }

  30% {
    background-image: url('./images/piedra.png');
    transform: translateY(1rem) scaleX(-1);
  }

  40% {
    background-image: url('./images/piedra.png');
    transform: translateY(-1rem) scaleX(-1);
  }

  50% {
    background-image: url('./images/piedra.png');
    transform: translateY(1rem) scaleX(-1);
  }

  60% {
    background-image: url('./images/piedra.png');
    transform: translateY(-1rem) scaleX(-1);
  }

  70% {
    background-image: url('./images/piedra.png');
    transform: translateY(1rem) scaleX(-1);
  }

  80% {
    background-image: url('./images/piedra.png');
    transform: translateY(-1rem) scaleX(-1);
  }

  90% {
    background-image: url('./images/piedra.png');
    transform: translateY(1rem) scaleX(-1);
  }

  100% {
    background-image: url('./images/piedra.png');
    transform: translateY(1rem) scale(1.2) scaleX(-1);
  }
}