:root {
	--winLoose-width: 3rem;  
}

html {
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 3rem;
}

.opciones {
	height: 5rem;
	display: flex;
	justify-content: center;
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ppot {
	margin: 0 auto;
}

.btn {
	height: 4rem;
	width: 4rem;
	box-shadow: none;
	border: none;
}

.piedra {
	background-image: url('images/piedra.png');
	background-size: cover;
}

.papel {
	background-image: url('images/papel.png');
	background-size: cover;
}

.tijera {
	background-image: url('images/tijera.png');
	background-size: cover;
}

.selecciones {
	display: flex;
	justify-content: space-around;
	padding: 0 3rem;
	margin: 0 15rem;
}

.seleccion {
	display: flex;
	flex-direction: column;
}

.empate {
	align-self: flex-end;
}

.player > img {
	height: 15rem;
	width: 15rem;
}

.pc > img {
	height: 15rem;
	width: 15rem;
	transform: scaleX(-1);
}

.acumuladoPlayer > img {
	width: var(--winLoose-width);
}

.acumuladoPc > img {
	width: var(--winLoose-width);
}

.empate > img {
	width: var(--winLoose-width);
}

#win {
	color: green;
	font-weight: bold;
}

#loose {
		color: red;
	font-weight: bold;
}

.replayBtn {
	color: red;
	height: 3rem;
	width: 7rem;
	background-color: white;
	font-size: 1.5rem;
}